/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --accent-color: #000;
    --white: #fff;
    --main-font-family: 'Inter-Variable';
    --accent-font-family: 'PressStart2P-Regular';
    --logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --h1-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --h2-size: 18px;
    --text-size: 18px;
    --text-font-weight: 400;
    --line-height: 21px;
    --title-font-weight: 785;
    --container-width: clamp(26.25rem, 26.291vw + 20.088rem, 43.75rem);
    --card-title-container: 6px 10px;
    --card-border: 2px solid var(--accent-color);
    --card-gap: 50px;
    --card-content-gap: 25px;
    --card-content-padding: 25px;
    --label-size: 14px;
    --button-font-size: 14px;
    --section-gap: 50px;
    --heart-size: 39px;
    --contour-color: #000;
    --animation-fill-color: #000;
    --floppy-size: 21px;
    --modal-padding: 30px;
    --modal-font-size: 14px;
    --background-image: 
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}